<div class="main-section">


    <div class="page-title">
        <h1>
            Register
        </h1>
    </div>

    <div class="login-section">


        <br><br><br>

        <form action="">

            <div>
                <input class="login-input" type="text" placeholder="Username">
            </div>

            <div>
                <input class="login-input" type="text" placeholder="Password">
            </div>

            <div>
                <button class="botton">
                    Login
                </button>
                <button class="botton">
                    Register
                </button>
            </div>

        </form>

    </div>

    <div class="bottom-padding">
        <div class="footer-section">
            Created By Rory McGuigan -
            <a href="https://github.com/rua-iri">
                Github
            </a>
        </div>
    </div>

</div>