<div class="main-section">


    <div class="page-title">
        <h1>
            Register
        </h1>
    </div>

    <div class="register-section">



        <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">

            <div>
                <input class="register-input" type="text" name="username" placeholder="Username" ngModel>
            </div>

            <div>
                <input class="register-input" type="email" name="email" placeholder="Email" ngModel>
            </div>

            <div>
                <input class="register-input" type="password" name="password" placeholder="Password" ngModel>
            </div>

            <div>
                <input class="register-input" type="password" name="repassword" placeholder="Repeat Password" ngModel>
            </div>

            <div>
                <button class="botton" type="submit">
                    Register
                </button>
            </div>

            <p class="errorBox">
                {{ errorMessage }}
            </p>
            
        </form>

    </div>

    <div class="bottom-padding">
        <div class="footer-section">
            Created By Rory McGuigan -
            <a href="https://github.com/rua-iri">
                Github
            </a>
        </div>
    </div>

</div>