
nav {
    height: 11vh;
    font-size: 4vh;
    background-color: rgba(0, 0, 0, 0.904);
    color: 	rgb(221,36,36);
    padding: 0 1vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
}

nav a {
    text-decoration: unset;
    color: unset;
    display: inline-flex;
}

#navbar-logo svg {
    height: 5vh;
    filter: invert(1);
}