
nav {
    height: 11vh;
    font-size: 7vh;
    background-color: rgba(0, 0, 0, 0.904);
    color: 	rgb(221,36,36);
    padding: 0 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

nav a {
    text-decoration: unset;
    color: unset;
    display: inline-flex;
    font-family: Shlop;
}

#navbar-logo svg {
    height: 5vh;
    filter: invert(1);
    margin-right: 1vw;
}

nav a:hover {
    color: 	rgb(248, 94, 94);
}

.logout-btn {
    cursor: pointer;
}

.login-bar {
    display: flex;
    align-content: center;
}


.user-icon {
    max-height: 9vh;
    display: inline;
    background-color: red;
    border-radius: 3rem;
    margin-right: 0.5rem;
}