<div class="main-section">

    <div class="user-section">
        <div class="user-panel">
            <img class="user-icon" [src]="iconPath" alt="usericon">
            <div class="icon-overlay" (click)="openModal()">
                <div class="overlay-text">
                    Click to Change Icon
                </div>
            </div>
        </div>

        <div class="user-stats">
            <p class="u-stat">
                Username: {{ uName }}
            </p>
            <p class="u-stat">
                Email: {{ email }}
            </p>
            <p class="u-stat">
                Member Since: {{ joinDate }}
            </p>

            <p class="u-stat">
                Change Password
            </p>

        </div>
    </div>

    <div class="modal-background" [ngStyle]="{'display': modalDisplay}" (click)="closeModal()">
        <div class="icon-modal">
            
            <div class="icon-box" *ngFor="let icn of iconAra" (click)="selectIcon(icn)" >
                <img [src]="icn" alt="user icon" loading="lazy" >
            </div>
            
        </div>
    </div>

    <div class="bottom-padding">
        <div class="footer-section">
            Created By Rory McGuigan -
            <a href="https://github.com/rua-iri">
                Github
            </a>
        </div>
    </div>

</div>