.category-container{
    margin-top: 5vh;
    margin-bottom: 10vh;
}


.category {
    margin: 2vh 0;
    padding: 1vh;
    padding-left: 5vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.category-title {
    font-size: 4vh;
    font-weight: 700;
}

.films-container {
    display: inherit;
    transition: transform 1s;    
}

.slider-button {
    width: 5vw;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.5);
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 3;
    cursor: pointer;
}

.slider-left {
    left: 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.slider-right {
    right: 0;
}

.slider-button svg {
    fill: white;
}


.slider-button svg:hover {
    transform: scale(1.15);
}


.film-box {
    transition: transform 1s;
    z-index: 1;
    cursor: pointer;
}

.film-box:hover {
    transform: scale(1.05);
    z-index: 2;
}