<div class="main-section">


    <div class="page-title">
        <h1>
            Login
        </h1>
    </div>

    <div class="login-section">



        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

            <div>
                <input class="login-input" type="text" name="username" placeholder="Username" ngModel>
            </div>

            <div>
                <input class="login-input" type="password" name="password" placeholder="Password" ngModel>
            </div>

            <div>
                <button class="botton" type="submit">
                    Login
                </button>
            </div>

        </form>

    </div>

    <div class="bottom-padding">
        <div class="footer-section">
            Created By Rory McGuigan -
            <a href="https://github.com/rua-iri">
                Github
            </a>
        </div>
    </div>

</div>