
.video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89vh;
    background-color: rgba(0, 0, 0, 0.925);
}

.video-section::after {
    content: "";
    background-image: url("https://rua-iri.github.io/spoooooook/assets/images/10461659.jpg");
    position: absolute;
    top: 11vh;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.7;
    z-index: -1;
}

.video-section video {
    height: 85%;
}
