
.film-item {
    height: 26vh;
    width: 20vw;
    margin: 2vh;
    padding: 1vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(247, 243, 243, 0.603);
}


.film-poster {
    max-height: 23vh;
}

.film-title {
    font-size: 5vh;
    margin-top: -1rem;
    background-color: rgba(247, 243, 243, 0.603);
    width: 100%;
}

