.main-section {
    background-color: rgba(214, 19, 19, 0.856);
    height: 89vh;
    width: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */  
}

.main-section::-webkit-scrollbar {
    display: none;
}


.bottom-padding {
    height: 20vh;
    display: flex;
    align-items: flex-end;
    text-align: center;
    width: 100%;
}

.footer-section {
    background-color: rgba(1, 1, 1, 0.253);
    width: inherit;
    font-size: 5vh;
    color: rgba(247, 236, 236, 0.589);
    font-family: Shlop;
}

.footer-section a {
    text-decoration: unset;
    color: unset;
}