.main-section {
    background-color: rgba(231, 47, 47, 0.884);
    height: 89vh;
    width: auto;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */  
}

.main-section::-webkit-scrollbar {
    display: none;
}

