.main-section {
    background-color: rgba(214, 19, 19, 0.829);
    height: 89vh;
    width: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.main-section::after {
    content: "";
    background-image: url("https://rua-iri.github.io/spoooooook/assets/images/10461659.jpg");
    position: absolute;
    top: 11vh;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.7;
    z-index: -1;
}


.main-section::-webkit-scrollbar {
    display: none;
}


.bottom-padding {
    height: 20vh;
    display: flex;
    align-items: flex-end;
    text-align: center;
    width: 100%;
}

.footer-section {
    background-color: rgba(1, 1, 1, 0.253);
    width: inherit;
    font-size: 5vh;
    color: rgba(247, 236, 236, 0.589);
    font-family: Shlop;
}

.footer-section a {
    text-decoration: unset;
    color: unset;
}
